<%= form_with(model: workout) do |form| %>

  <div class="field">
    <div class="control">
      <%= form.label :title %>
      <div class="input">
      <%= form.text_field :title %>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>